@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: yellow;
  --filled-button-text-color: black;
}

@layer base {
  body {
    font-family: monospace;
    color: whitesmoke;
    background: #22262f;
  }
}

@layer components {
  .thematic-text {
    @apply text-[var(--main-color)];
  }

  .thematic-fill {
    @apply fill-[var(--main-color)];
  }

  .thematic-border {
    @apply border-[var(--main-color)];
  }

  .filled-button {
    @apply text-[var(--filled-button-text-color)] bg-[var(--main-color)];
  }

  .outline-button {
    @apply text-[var(--main-color)] border-[var(--main-color)] bg-transparent;
  }

  .h1 {
    @apply text-2xl lg:text-3xl leading-loose font-extrabold;
  }

  .h2 {
    @apply text-xl lg:text-2xl leading-loose font-bold;
  }

  .h3 {
    @apply text-lg lg:text-xl leading-loose font-semibold;
  }

  .shadowed {
    box-shadow: 0 0 5px var(--main-color),
      0 0 3px var(--main-color);
  }
}